body {
    margin: 0px;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2 {
    margin: 0;
    font-size: 1.1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 150px 1fr;
}

.icon {
    height: 25px;
    width: auto;
}


/* SIDEBAR */


.sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 30px;
    gap: 50px;
    align-items: start;
    color: white;
    background-color: #1a72a6;
}

.sidebar .navigation,
.sidebar .branding {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-header {
    justify-self: center;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    margin-top: 30px;
    transition: all .3s ease-in-out;
}

.sidebar-header:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.dashboard-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.sidebar .icon {
    filter: invert(1);
}

.sidebar-header > img {
   height: 40px;
   width: auto;
   filter: invert(1);
}

.sidebar .nav-item {
    display: grid;
    grid-template-columns: 40px 1fr;
    justify-content: start;
    align-items: center;
    transition: all .3s ease-in-out;
}

.sidebar .nav-item:hover {
    transform: scale(1.2);
    cursor: pointer;
}


/* HEADER */


.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, minmax(50px, 1fr));
    padding-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    gap: 10px;
    flex: 1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.search .icon {
    scale: 1.5;
}

.search .icon:hover {
    cursor: pointer;
}

.search-bar {
    border-radius: 20px;
    min-width: 90%;
    height: 30px;
    background-color: #dfdfdf;
    border: none;
    box-shadow: inset 0 0 3px #919191;
    padding: 10px;
}

.user-info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    gap: 20px;
    font-size: 14px;
    font-weight: 600;
}

.user-info img:hover,
.user-info h2:hover {
    cursor: pointer;
}

.user-info > .avatar {
    height: 30px;
    width: auto;
}

.user-title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    align-items: center;
}

.user-title > .avatar {
    height: 60px;
    width: auto;
    grid-row: 1 / 3;
    justify-self: start;
}

.user-title > .avatar {
    cursor: pointer;
}

.user-title > .hi-there {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.1rem;
}

.user-title > .username {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 28px;
    font-weight: 900;
    align-self: flex-start;
    margin-top: -5px;
}

.user-title > .username:hover {
    cursor: pointer;
}

.username e {
    font-size: 22px;
    position: relative;
    top: -1px;
}

.user-title p {
    margin: 0;
}

.buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex: 1 1 auto;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

button {
    background-color: #0c4a6e;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* MAIN CONTENT */


.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #ecf4ff;
    box-shadow: inset 0 2px 5px #dfdfdf;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 20px repeat(3, 240px);
    justify-content: start;
    gap: 20px;
}

.project-section-title {
    font-size: 1.4rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.project-box {
    display: grid;
    grid-template-rows: 1fr 40px;
    padding: 20px 20px 10px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #919191, inset 10px 0 0 #1a72a6;
    transition: all .3s ease-in-out;
}

.project-title {
    font-size: 1.2rem;
}

.project-box:hover {
    transform: scale(1.01);
    box-shadow: 10px 10px 10px #919191, inset 10px 0 0 #eab308;
}

.project-box h2:hover {
    cursor: pointer;
}

.project-box p {
    font-size: 0.9rem;
}

.text {
    overflow: hidden;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    transition: all .3s ease-in-out;
    align-self: center;
}

.project-icons img:hover {
    scale: 1.3;
    cursor: pointer;
}

.announcements {
    padding: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px #919191;
}

.announcements > .box {
    gap: 0.6rem;
}

.announcements h2 {
    font-size: 1rem;
    margin-bottom: -0.5rem;
}

.announcements p {
    font-size: 0.7rem;
}

.trending {
    padding: 20px;
    margin-right: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending > .box {
    gap: 20px;
    margin-top: 20px;
}

.trending-item {
    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: 1fr 1fr;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
}

.trending-item:hover {
    cursor: pointer;
}

.trending-item p {
    grid-column: 2 / 3;
    margin: 0;
    font-size: 1.1rem;
}

.trending-item img {
    height: 50px;
    width: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}